body {

}

.sefont {
  font-family: 'Special Elite';
}

.ptfont {
  font-family: 'PT Mono';
}

.itally {
  font-style: italic;
}

.navbar {
  font-size: 15px;
}

.navbar-toggler {
  /*border-bottom: solid grey 1px;*/
}

.navbar-toggler-icon {
  padding-top: 5px;
  width: 100%;
  height: 100%;
}

.navborder {
  /*border-bottom: solid rgba(128, 128, 128, 0.1) 1px;*/
  /*border-style: ridge;*/
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navpad {
  padding-top: 5em;
}

a {
  color: grey;
}

.logoinit {
  background: url("./pics/WPlogo.png") no-repeat center;
  width: 75%;
  height: 75%;
  background-size: contain;
}

.projbox {
  width: 275px;
  height: 220px;
  background-size: 100% 100%;
  margin-top: 30px;
  color: black;
  font-weight: bold;
}

.projbox1 {
  background: url('./pics/poolpic1.jpg') no-repeat center;
  background-size: cover;
}

.projbox2 {
  background: url('./pics/poolpic2.jpg') no-repeat center;
  background-size: cover;
}

.projbox3 {
  background: url('./pics/poolpic10.jpg') no-repeat center;
  background-size: cover;
}

.projbox4 {
  background: url('./pics/poolpic11.jpg') no-repeat center;
  background-size: cover;
}

.projbox5 {
  background: url('./pics/poolpic12.jpg') no-repeat center;
  background-size: cover;
}

.projbox6 {
  background: url('./pics/poolpic13.jpg') no-repeat center;
  background-size: cover;
}

.projbox7 {
  background: url('./pics/poolpic14.jpg') no-repeat center;
  background-size: cover;
}

.projbox8 {
  background: url('./pics/poolpic15.jpg') no-repeat center;
  background-size: cover;
}

.projbox9 {
  background: url('./pics/poolpic16.jpg') no-repeat center;
  background-size: cover;
}

/*.filter {
  height: 100%;
  background: rgba(19, 19, 19, 0.3);
  background-size: cover;
}*/

.seclogo {
  /*padding-top: 100px;*/
  width: 100%;
  height: 150px;
}

.secportfolio {
  margin-top: 30px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  padding: 0;
  margin-top: 10px;
  width: 80%;
  border: solid rgba(128, 128, 128, 0.2) 2px;
}

.overflows {
  overflow: hidden;
}

.white {
  color: white;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

.shadow {
  text-shadow: 5px 5px 5px black;
}

input {
  background: #292929;
  height: 60px;
  width: 100%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: solid white 1px;
  font-weight: bold;
}

.emailbutton {
  height: 60px;
  width: 100%;
  background: #91a05c;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

li {
  padding-left: 30px;
}

.fade-half {
  opacity: 0.5;
}

.uppercase {
  text-transform: uppercase;
}

.align-self-middle {
  margin-right: 150px;
}
