body {
  /*font-family: georgia;*/
  font-family: Georgia;
  -webkit-font-smoothing: antialiased;
}

h5 {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.itally {
  font-style: italic;
}

.navbar {
  border-bottom: solid rgba(255, 255, 255, 0.9) 1px;
  font-size: 11px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-toggler {
  border: solid white 1px;
  margin-top: 0.25rem;
}

.navbar-toggler-icon {
  padding-top: 5px;
}

.navborderleft {
  border-left: solid rgba(255, 255, 255, 0.2) 1px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.padit {
  padding: 0 10px 50px 10px;
}

a {
  color: white;
}

.logomini {
  width: 130px;
  height: auto;
  display: inline-block;
  opacity: 1;
  border-radius: 25%;
}

.wplogo {
  width: 20%;
  height: auto;
  opacity: 0.3;
  border-radius: 25%;
  /*position:fixed;*/
  top: 520px;
  right: 20px;
}

.filter {
  height: 100%;
  /*width: 100%;*/
  background: rgba(19, 19, 19, 0.3);
  background-size: cover;
}

.filter2 {
  width: 100%;
  background: rgba(19, 19, 19, 0.5);
  background-size: cover;
}

.flogo {
  width: 60%;
  height: auto;
  padding-top: 40px;
  opacity: 1;
}

.imgsize1 {
  max-width: 100%;
  height: auto;
}

.sec1 {
  background: url("./pics/poolpic1.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 685px;
  /*border-radius: 25%;*/
}

.sec2 {
  background: url("pics/poolpic22.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.sec3 {
  height: 500px;
  width:100%;
  padding: 0 40px;
}

.sec4 {
  background: url("pics/poolpic2.jpg") no-repeat center bottom;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.sec5 {
  height: auto;
}

.sec6 {
  background: url("./img/wine12.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 700px;
  padding-top: 60px;
}

.sec601 {
  padding: 80px;
  max-height: 700px;
  overflow: hidden;
}

.sec7 {
  background: url("pics/poolpic19.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.sec8 {
  height: 500px;
  width: 100%;
}

.sec9 {
  height: 500px;
  width: 100%;
  background: #292929;;
}

.backdrop {
  background: url("./pics/wbpwaterbackground.jpg") no-repeat top center;
  /*background: blue;*/
  background-size: cover;
  width: 100%;
}

.navpad {
  padding-top: 5em;
}

.carousel {
  /*max-width: 95vw;*/
  width: 400px;
  padding-bottom: 5px;
}

.carousel-item {
    height: 15em;
    border: 3px solid black;
    min-height: 40vh;
}

.nGY2ConsoleParent {
  margin: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  padding: 0;
  width: 100%;
}

.overflows {
  overflow: hidden;
}

.card {
  background: rgb(19, 19, 19);
  padding-top: 20px;
  border-radius: 15%;
  margin: 10px 0 10px 0;
}

.card-img-top {
  height: 220px;
  width: 220px;
  align-self: center;
}

.sigpic {
  width: 25%;
  height: auto;
  align-self: center;
}

.awardpic {
  width: 85%;
  height: auto;
  align-self: center;
  margin-bottom: 20px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.shadow {
  text-shadow: 5px 5px 5px black;
}

input {
  background: #292929;
  height: 60px;
  width: 100%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: solid white 1px;
  font-weight: bold;
}

.emailbutton {
  height: 60px;
  width: 100%;
  background: #91a05c;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 2px;
  margin-right: 2px;
}

.no-gutter>[class^="col-"]{
  padding-left: 4px;
  padding-right: 4px;
}

li {
  padding-left: 30px;
}

.fade-half {
  opacity: 0.5;
}

.uppercase {
  text-transform: uppercase;
}
